body {
margin: 0;
padding: 0;
width: 100%;
}

h2 {
font-family:"Arvo";
font-weight: normal;
font-size: 40px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}
h3 {
font-family: "Arvo";
font-weight: normal;
font-size: 16px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}

#company_name {
  margin: 30px 0 0 0;
}

/*  positioning of the elements on screen + container of each slide */

.content{ margin: 0 auto; max-width: 960px; }



.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
}

/*  adding styles to slide_title, images, quotes container */

.slide_title {
font-family: "Arvo";
font-weight: normal;
font-size: 30px;
text-align: left;
margin: 50px auto;
}

.slide_text_white { font-family:"Oswald"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; }
.slide_text_gray { font-family:"Oswald"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }


#plane-logo{ background: url('../img/plane-logo.png')no-repeat; width: auto;; height: auto;
/* margin: 0 auto; position: relative; bottom: -35px;} */


/* each slide will have a background image or white background color with fixed position */
/* add  padding to each slide to center the elements inside it */



#slide1 {
background:url('../img/slide1.jpg') no-repeat fixed;
color: #fff;
margin: 0;
padding: 10px 0 0 0;
background-size: cover;
}

#slide2 {
background-color: #fff;
color: #333333;
margin: 0 auto;
padding: 10px 0 0 0;
overflow: hidden;
}

#slide3 {
background: url(../img/slide3.jpg) 50% 0 no-repeat fixed;
color: #fff;
padding: 10px 0 0 0;
background-size: cover;
}

#slide4 {
background-color: #fff;
color: #333333;
margin: 0 auto;
padding: 10px 0 0 0;
overflow: hidden;
}
#slide5{
background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
color: #fff;
margin: 0 auto;
padding: 10px 0 0 0;
background-size: cover;
}

.slide {
  height: 600px;
}
