body{
margin: 0;
padding: 0;
width: 100%;
}

h2 {
font-family:"Arvo";
font-weight: normal;
font-size: 40px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}
h3 {
font-family: Oswald;
font-weight: normal;
font-size: 16px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}


// positioning of the elements on screen + container of each slide

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

// add image with black background + add 60% opacity to header

#header {
width: 100%;
background: url('../img/header-bg.png');
height: 80px;
position: fixed;
margin-top: 30px;
overflow: hidden;
}

// float logo to left
#nav {
width: 410px;
float: right;
margin-top: 0px;
}

#nav ul {
display: block;
margin: 0;
list-style: none;
}

// float navigation to right
#nav li{
margin-top: 9px;
float: left;
padding-left: 21px;
}

#nav li a {
color: #fff;
opacity:0.6;
font-size: 16px;
text-decoration: none;
font-family: "Arvo";
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
}

// adding styles to slide_title, images, quotes container

.slide_title {
font-family: "Arvo";
font-weight: normal;
font-size: 30px;
text-align: left;
margin: 50px auto;
}

.slide_text_white { font-family:"Oswald"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; }
.slide_text_gray { font-family:"Oswald"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }
.text_container { width: 800px; margin: 0 auto; }

#plane-logo{ background: url('../img/plane-logo.png')no-repeat; width: 48px; height: 77px; margin: 0 auto; position: relative; bottom: -35px;}
#christmas_tree { background: url('../img/christmas-tree.png')no-repeat; width: 48px; height: 77px; margin: 0 auto; position: relative; bottom: -35px;}


// each slide will have a background image or white background color with fixed position
// add  padding to each slide to center the elements inside it

#slide1, #slide2{ width: 100%; }

#slide1 {
background:url('../img/slide1.jpg') 50% 0 no-repeat fixed;
color: #fff;
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#slide2{
background-color: #fff;
color: #333333;
height: 300px;
padding: 200px 0;
margin: 0 auto;
overflow: hidden;
}
#slide3{
background: url(../img/slide3.jpg) 50% 0 no-repeat fixed;
color: #fff;
height: 600px;
padding: 170px 0 0 0;
background-size: cover;
}
#slide4{
background-color: #fff;
color: #333333;
height: 300px;
padding: 200px 0;
margin: 0 auto;
overflow: hidden;
}
#slide5{
background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
color: #fff;
height: 200px;
padding: 200px 0;
margin: 0 auto;
background-size: cover;
}
